section.model_details .story .persistence.use_click_to_copy .close {
  width: 65px !important;
}

section.model_details .actions button.clipboard_button.story-link::before {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAlJJREFUaEPtlz9IllEUxn/OTpVQUUNL0BTYGBj2h6wtHBzVoE03FZcw07ForDVbI2oqMazAQRzEJQlcREokMp2clRP3xvXlfb/7l6/3pXvgRYdznnOe59x77vk6aLh1NLx+MoF/3cHcgdyBSAXyEYoUMDo8dyBawkiA3IFIAaPD/6sO9APdxnfWIt8MMK185O+UxX8bWAHWgHXgnUt7XDpwAngGDLsAGj6PCwQeecbPAw8AIVZpNgI3gEXPxNo9loDGGQJeVdXQisAgMGcEbgHPgW/AKrDjQOxQ+diEErfTwGX1TQJdBv5N4FNZvirgc8API0CIjAAHDkWncDkFvAV6DLCTwH4RvIrAB+COcl4CrqWoKgDjJSBHSEz+v+9C4J5iL767wCXgd0DyFCGdwFfgggIbAF6bwGUdeAjMKqcJ4GmKSiIwxoEnKl6m4ZiNwBtAZr5YH7BgSV4cj3JxXS6thpVp1cruAu+VwzJw1UZALq9cYrEzwE9Lgs9Ab6DCX4DrltiLwIbhc0ycMqXqRkBqN+vUo/kPpzIC5hG6DXy0KKTXhcAm/F03JN4szukY1u0SJyFgjtFfaozuhcrrGZeEgOSURUomkFg7H7JkBM4D3w315BUcbcMqkYyA1C5PuBSubRN44bnMeZ6gNJfYTHrLYQpVFWmu00WfY6PQk6X1HSjiyRYoT7heqlzz1YaALljWiyvqk5+W8kq3stoRcFU+xi/pJY4pJDQ2EwhVLlVc7kAqJUNxGt8Bb+JOO7c3ahsDMoE2il2aKncgdyBSgcYfoSOxH2ExpWfXrwAAAABJRU5ErkJggg==');
  background-size: 80%;
}

section.model_details .actions button.clipboard_button.story-title::before {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAALlJREFUaEPtlUEKgDAMBKMfVz+uIngQaWHDKlqdHksSk9lt7KLx0zXefzDA0wqiAAqYBH5lodmElU3vlYSMAotS8MIYqTcpaG+KAZLqSHCloK8okAE4RMR4SpgKd5maxdiMApmPMYBKCwUqpDb/bzY6Ht5ACRYWqliILcQWUglgIZMUW4gfGRYyCbCFTIBsISyEhUwCWMgEyBbCQi+1kNmWnn7XG9A7MCMZwARop6OAjdAsgAImQDt9Bb/YOzFEBh0UAAAAAElFTkSuQmCC');
  background-size: 80%;
}
